{% extends 'navbar.html.twig' %}

{% block title %}Hello DefaultController!
{% endblock %}

{% block body %}

	<!--Masthead-->
	<header class="masthead2">
		<div class="container px-4 px-lg-5 h-100">
			<div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
				<div class="col-lg-8 align-self-end">
					<h1 class="text-white font-weight-bold" style="letter-spacing: 10px; font-family:Louis-Bold">
						CERTIFICATIONS</h1>
				</div>
				<div class="col-lg-8 align-self-baseline">
					<h4 class="text-white-75" style="letter-spacing: 2px; font-family:Kiona">VINCENT MAZURAIS</h3>
				</div>
			</div>
		</div>
	</header>

	<div class="container" style="max-width: 1000px">
		<div class="container pt-5 pb-5 px">
			<center>
				<h1>CERTIFICATIONS</h1>
				<hr class="new1" style="max-width: 150px">
				<br>
			</center>
		</div>


		<div class="container pb-5">
			<div class="row">
				<div class="col" style="text-align: center">
					<img src="/images/moocanssi.png" class="img-fluid rounded" style="max-width: 350px">
				</div>
				<div class="col">
					<span style="font-size: 36px; font-family: Inter-Bold">MOOC ANSSI</span><br>
					<div class="pt-3 pb-5">
						<a href="../files/moocanssi.png" download="moocanssi.png" class="btn btn-primary btn-lg">Télécharger &nbsp;
							<i class="fa-solid fa-angle-right fa-sm"></i>
						</a>
						<a href="https://secnumacademie.gouv.fr/" target="_blank" class="btn">S'informer</i>
						</a>
					</div>
				</div>
			</div>
		</div>

		<center><hr class="new1" style="max-width: 450px; border: 1px solid"></center>

		<div class="container pb-5">
			<div class="row pt-5">
				<div class="col" style="text-align: center">
					<img src="/images/cisco.png" class="img-fluid rounded" style="max-width: 200px">
				</div>
				<div class="col">
					<span style="font-size: 36px; font-family: Inter-Bold">CISCO NETACAD</span><br>
					<div class="pt-3 pb-5">
						<a href="../files/VincentMazurais-Certf intro Cybe-certificate.pdf" download="VincentMazurais-Certf intro Cybe-certificate.pdf" class="btn btn-primary btn-lg">Télécharger &nbsp;
							<i class="fa-solid fa-angle-right fa-sm"></i>
						</a>
						<a href="https://www.netacad.com/fr" target="_blank" class="btn">S'informer</i>
						</a>
					</div>
				</div>
			</div>
		</div>

		<center><hr class="new1" style="max-width: 450px; border: 1px solid"></center>

		<div class="container pb-5">
			<div class="row pt-5">
				<div class="col" style="text-align: center">
					<img src="/images/pix.png" class="img-fluid rounded" style="max-width: 200px">
				</div>
				<div class="col">
					<span style="font-size: 36px; font-family: Inter-Bold">Pix</span><br>
					<div class="pt-3 pb-5">
						<a href="../files/attestation-pix-20240219.pdf" download="attestation-pix-20240219.pdf" class="btn btn-primary btn-lg">Télécharger &nbsp;
							<i class="fa-solid fa-angle-right fa-sm"></i>
						</a>
						<a href="https://www.pix.fr/" target="_blank" class="btn">S'informer</i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

