{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}

<!--Presentation anchor-->
<a name="presentation"></a>

<div class="container" style="max-width: 1000px">
    <div class="container pt-5 pb-5 px">
        <center>
            <h1>CV</h1>
            <hr class="new1" style="max-width: 150px">
            <br>
        </center>
    </div>

    <div class="container text-center pb-5">
        <img src="/images/cv.jpg" class="img-fluid" style="max-width: 750px">
    </div>
</div>

{% endblock %}