{% extends 'navbar.html.twig' %}

{% block title %}Hello DefaultController!
{% endblock %}

{% block body %}

	<!--Masthead-->
	<header class="masthead2">
		<div class="container px-4 px-lg-5 h-100">
			<div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
				<div class="col-lg-8 align-self-end">
					<h1 class="text-white font-weight-bold" style="letter-spacing: 10px; font-family:Louis-Bold">
						EXPÉRIENCES PROFESSIONNELLES</h1>
				</div>
				<div class="col-lg-8 align-self-baseline">
					<h4 class="text-white-75" style="letter-spacing: 2px; font-family:Kiona">VINCENT MAZURAIS</h3>
				</div>
			</div>
		</div>
	</header>

	<div class="container" style="max-width: 1000px">
		<div class="container pt-5 pb-5 px">
			<center>
				<h1>EXPÉRIENCES PROFESSIONNELLES</h1>
				<hr class="new1" style="max-width: 150px">
				<br>
			</center>
		</div>

		<div class="timeline">
			<div class="timeline-empty"></div>

			<div class="timeline-middle">
				<div class="timeline-circle"></div>
			</div>
			<div class="timeline-component timeline-content">
				<h3>STAGE - PIXIS.NET</h3>
				<p class="text-muted">
					<i>09/01/2017 - 18/03/2017</i>
				</p>
				<p>Préparation d'ordinateurs, Ghost PC, nettoyage PC (Logiciels et physique), vente de matériel</p>
			</div>
			<div class="timeline-component timeline-content">
				<h3>STAGE - MAIRIE DE SAINT-MALO</h3>
				<p class="text-muted">
					<i>14/03/2016 - 02/04/2016</i>
				</p>
				<p>Préparation d'ordinateurs, Ghost PC, nettoyage PC (Logiciels)</p>
			</div>
			<div class="timeline-middle">
				<div class="timeline-circle"></div>
			</div>
			<div class="timeline-empty"></div>

			<div class="timeline-empty"></div>

			<div class="timeline-middle">
				<div class="timeline-circle"></div>
			</div>
			<div class=" timeline-component timeline-content">
				<h3>STAGE - MAIRIE DE SAINT-MALO</h3>
				<p class="text-muted">
					<i>16/11/2015 - 19/12/2015</i>
				</p>
				<p>Préparation d'ordinateurs, Ghost PC, nettoyage PC (Logiciels)</p>
			</div>
		</div>
	</div>

{% endblock %}

