{% extends 'navbar.html.twig' %}

{% block title %}Hello DefaultController!
{% endblock %}

{% block body %}

	<!--Masthead-->
	<header class="masthead2">
		<div class="container px-4 px-lg-5 h-100">
			<div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
				<div class="col-lg-8 align-self-end">
					<h1 class="text-white font-weight-bold" style="letter-spacing: 10px; font-family:Louis-Bold">
						FORMATIONS</h1>
				</div>
				<div class="col-lg-8 align-self-baseline">
					<h4 class="text-white-75" style="letter-spacing: 2px; font-family:Kiona">VINCENT MAZURAIS</h3>
				</div>
			</div>
		</div>
	</header>

	<div class="container" style="max-width: 1000px">
		<div class="container pt-5 pb-5 px">
			<center>
				<h1>FORMATIONS</h1>
				<hr class="new1" style="max-width: 150px">
				<br>
			</center>
		</div>

		<div class="container text-center pb-5" style="max-width: 500px">
			<div class="row">
				<div class="col-xl-12">
					<ul class="timeline-list">
						<li>
							<div class="timeline_content">
								<span style="font-family:Inter-Bold">BTS SIO (Option SLAM)</span>
								<p>
									<i>2022 - Présent</i>
								</p>
								<p>Brevet de Technicien Supérieur - Services informatiques aux organisations - Option Solutions Logicielles et Applications Métier</p>
							</div>
						</li>
						<li>
							<div class="timeline_content">
								<span style="font-family:Inter-Bold">BAC PRO SEN</span>
								<p>
									<i>2014 - 2017</i>
								</p>
								<p>Bac Professionnel - Systèmes Électroniques Numériques</p>
							</div>
						</li>
						<li>
							<div class="timeline_content">
								<span style="font-family:Inter-Bold">BEP SEN</span>
								<p>
									<i>2016</i>
								</p>
								<p>Brevet d'Études Professionnelles - Systèmes Électroniques Numériques</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
	</div>

{% endblock %}
