{% extends 'navbar.html.twig' %}

{% block title %}Hello DefaultController!
{% endblock %}

{% block body %}

	<!--Masthead-->
	<header class="masthead2">
		<div class="container px-4 px-lg-5 h-100">
			<div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
				<div class="col-lg-8 align-self-end">
					<h1 class="text-white font-weight-bold" style="letter-spacing: 10px; font-family:Louis-Bold">
						FORMATIONS</h1>
				</div>
				<div class="col-lg-8 align-self-baseline">
					<h4 class="text-white-75" style="letter-spacing: 2px; font-family:Kiona">VINCENT MAZURAIS</h3>
				</div>
			</div>
		</div>
	</header>

	<div class="container" style="max-width: 1000px">
		<div class="container pt-5 pb-5 px">
			<center>
				<h1>FORMATIONS</h1>
				<hr class="new1" style="max-width: 150px">
				<br>
			</center>
		</div>


		<div class="timeline">
			<div class="timeline-empty"></div>

			<div class="timeline-middle">
				<div class="timeline-circle"></div>
			</div>
			<div class="timeline-component timeline-content">
				<h3>BTS SIO (Option SLAM)</h3>
				<p class="text-muted">
					<i>2022 - Présent</i>
				</p>
				<p>Brevet de Technicien Supérieur - Services informatiques aux organisations - Option Solutions Logicielles et Applications Métier</p>
			</div>
			<div class="timeline-component timeline-content">
				<h3>BAC PRO SEN</h3>
				<p class="text-muted">
					<i>2014 - 2017</i>
				</p>
				<p>Bac Professionnel - Systèmes Électroniques Numériques</p>
			</div>
			<div class="timeline-middle">
				<div class="timeline-circle"></div>
			</div>
			<div class="timeline-empty"></div>

			<div class="timeline-empty"></div>

			<div class="timeline-middle">
				<div class="timeline-circle"></div>
			</div>
			<div class=" timeline-component timeline-content">
				<h3>BEP SEN</h3>
				<p class="text-muted">
					<i>2016</i>
				</p>
				<p>Brevet d'Études Professionnelles - Systèmes Électroniques Numériques</p>
			</div>
		</div>
	</div>
{% endblock %}

