{% extends 'navbar.html.twig' %}

{% block title %}Hello DefaultController!
{% endblock %}

{% block body %}

	<!--Masthead-->
	<header class="masthead2">
		<div class="container px-4 px-lg-5 h-100">
			<div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
				<div class="col-lg-8 align-self-end">
					<h1 class="text-white font-weight-bold" style="letter-spacing: 10px; font-family:Louis-Bold">
						MENTIONS LÉGALES</h1>
				</div>
				<div class="col-lg-8 align-self-baseline">
					<h4 class="text-white-75" style="letter-spacing: 2px; font-family:Kiona">VINCENT MAZURAIS</h3>
				</div>
			</div>
		</div>
	</header>

	<div class="container" style="max-width: 1000px">
		<div class="container pt-5 pb-5 px">
			<center>
				<h1>MENTIONS LÉGALES</h1>
				<hr class="new1" style="max-width: 150px">
				<br>
			</center>
		</div>

		<div class="container pb-5">
			<h3 class="text-center" style="font-family: Inter">En vigueur au 01/05/2023</h3><br>

			<p class="text-muted" style="text-align: justify">Conformément aux dispositions des Articles 6-III et 19 de la Loi n°2004-575 du 21 juin 2004 pour la Confiance dans l'économie numérique, dite L.C.E.N., il est porté à la connaissance des visiteurs, les présentes mentions légales. La navigation sur le Site par le visiteur implique l'acceptation intégrale et sans réserve des présentes mentions légales. Ces dernières sont accessibles sur le Site à la rubrique « Mentions légales ».</p><br>


			<b>ARTICLE 1 - L'EDITEUR</b>

			<p class="text-muted" style="text-align: justify">L'édition et la direction de la publication du Site sont assurées par :<br>
				Mazurais Vincent - <i>mazurais.vincent@outlook.fr</i></p><br>


			<b>ARTICLE 2 - L'HEBERGEUR</b>

			<p class="text-muted" style="text-align: justify">L'hébergeur du Site est le lycée Notre Dame de La Providence situé 9 Rue Chanoine Berenger, 50300 Avranches</p><br>


			<b>ARTICLE 3 - ACCES AU SITE</b>

			<p class="text-muted" style="text-align: justify">Le Site est accessible en tout endroit, 7j/7, 24h/24 sauf cas de force majeure, interruption programmée ou non et pouvant découler d'une nécessité de maintenance.</p><br>


			<b>ARTICLE 4 - COLLECTE DES DONNEES</b>

			<p class="text-muted" style="text-align: justify">Le site est exempté de déclaration à la Commission Nationale Informatique et Libertés (CNIL) dans la mesure où il ne collecte aucune donnée concernant les visiteurs. Toute utilisation, reproduction, diffusion, commercialisation, modification de toute ou partie du Site, sans autorisation de l'Editeur est prohibée et pourra entraînée des actions et poursuites judiciaires telles que notamment prévues par le Code de la propriété intellectuelle et le Code civil.</p>
		</div>
	</div>

{% endblock %}

